# Configuracion local
.env

# Bases de datos locales
database/*.sqlite
database/*.db

# Archivos temporales
*.log
*.tmp

# Sistema operativo / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
database/*.sqlite
